// Font Family
$body-font-family: 'Heiti TC','\5FAE\8EDF\6B63\9ED1\9AD4','Microsoft JhengHei','Apple LiGothic Medium','simhei','Microsoft YaHei', "Helvetica", Helvetica, Arial, sans-serif;
// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
// Layout
$main-width: 640px;
$header-footer-height: 55px;
// Colors
$color-white: #FFF;
$color-gray: #666;
$color-black: #000;
$color-red: #FF2121;
